In [52]:
import pandas as pd
from sqlalchemy import create_engine

In [53]:
species = (r"C:/Users/write/Project_2/species.csv")
species_df = pd.read_csv(species)
species_df.head()
#species_df.columns

,name,classification,designation,average_height,skin_colors,hair_colors,eye_colors,average_lifespan,language,homeworld
0,Hutt,gastropod,sentient,300.0,"green, brown, tan",NaN,"yellow, red",1000,Huttese,Nal Hutta
1,Yoda's species,mammal,sentient,66.0,"green, yellow","brown, white","brown, green, yellow",900,Galactic basic,Unkown
2,Trandoshan,reptile,sentient,200.0,"brown, green",none,"yellow, orange",NaN,Dosh,Trandosha
3,Mon Calamari,amphibian,sentient,160.0,"red, blue, brown, magenta",none,yellow,NaN,Mon Calamarian,Mon Cala
4,Ewok,mammal,sentient,100.0,brown,"white, brown, black","orange, brown",NaN,Ewokese,Endor

In [60]:
planets = (r"C:\Users\write\Project_2\planets.csv")
planets_df = pd.read_csv(planets)
planets_df.head()
#planets_df.columns

,name,rotation_period,orbital_period,diameter,climate,gravity,terrain,surface_water,population
0,Alderaan,24.0,364.0,12500.0,temperate,1 standard,"grasslands, mountains",40.0,2.000000e+09
1,Aleen Minor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bespin,12.0,5110.0,118000.0,temperate,"1.5 (surface), 1 standard (Cloud City)",gas giant,0.0,6.000000e+06
3,Bestine IV,26.0,680.0,6400.0,temperate,NaN,"rocky islands, oceans",98.0,6.200000e+07
4,Cato Neimoidia,25.0,278.0,0.0,"temperate, moist",1 standard,"mountains, fields, forests, rock arches",NaN,1.000000e+07

In [55]:
species_cl = ['name', 'classification', 
       'skin_colors', 'hair_colors', 'eye_colors',
       'language', 'homeworld']
species_td = species_df[species_cl].copy()
species_td.set_index("homeworld", inplace=True)
species_td = species_td.dropna()
species_td.head()

,name,classification,skin_colors,hair_colors,eye_colors,language
homeworld,,,,,,
Unkown,Yoda's species,mammal,"green, yellow","brown, white","brown, green, yellow",Galactic basic
Trandosha,Trandoshan,reptile,"brown, green",none,"yellow, orange",Dosh
Mon Cala,Mon Calamari,amphibian,"red, blue, brown, magenta",none,yellow,Mon Calamarian
Endor,Ewok,mammal,brown,"white, brown, black","orange, brown",Ewokese
Sullust,Sullustan,mammal,pale,none,black,Sullutese

In [56]:
planets_cl = ['name', 'climate',
       'gravity', 'terrain', 'surface_water', 'population']
planets_td = planets_df[planets_cl].copy()
planets_td.set_index("name", inplace=True)
planets_td = planets_td.dropna()
planets_td.head()

,climate,gravity,terrain,surface_water,population
name,,,,,
Alderaan,temperate,1 standard,"grasslands, mountains",40.0,2.000000e+09
Bespin,temperate,"1.5 (surface), 1 standard (Cloud City)",gas giant,0.0,6.000000e+06
Cerea,temperate,1,verdant,20.0,4.500000e+08
Chandrila,temperate,1,"plains, forests",40.0,1.200000e+09
Corellia,temperate,1 standard,"plains, urban, hills, forests",70.0,3.000000e+09

In [57]:
connection_string = "postgres:MotMot721@localhost:5432/starwars"
engine = create_engine(f'postgresql://{connection_string}')

In [61]:
engine.table_names()

['charachters', 'planets', 'species', 'planets_3', 'species_3']

In [41]:
planets_td.to_sql(name='planets_3', con=engine, if_exists='append', index=True)

In [59]:
species_td.to_sql(name='species_3', con=engine, if_exists='append', index=True)